<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <sectionGroup name="NUnit">
      <section name="TestRunner" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>

  <NUnit>
    <TestRunner>
      <add key="ApartmentState" value="STA" />
    </TestRunner>
  </NUnit>
  
  <specFlow>
    <language feature="en" tool="en" />

    <unitTestProvider name="NUnit"/>

    <generator allowDebugGeneratedFiles="false" />

    <runtime detectAmbiguousMatches="true"
             stopAtFirstError="false"
             missingOrPendingStepsOutcome="Inconclusive" />

    <stepAssemblies>
      <stepAssembly assembly="SpecFlow.WatiN" />
    </stepAssemblies>

  </specFlow>
</configuration>